<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>


      <!--HL FILE PATH-->
      <!--<add name="UserDB"
         connectionString="data source=(localdb)\mssqllocaldb; attachdbfilename=C:\Users\paxto\OneDrive\Documents\2023 Yr 2\Sem 2\IT2666 IOT Proj\ProjectFailure\ProjectFailure\Hardware\Forms1\UserDB.mdf;integrated security=true;connect timeout=30"
        providerName="system.data.sqlclient" />-->


      <!--ys file path-->
      <!--<add name="userdb"
         connectionString="data source=(localdb)\mssqllocaldb; attachdbfilename=c:\users\yongs\source\repos\meowjacky\projectfailure\hardware\forms1\userdb.mdf;integrated security=true;connect timeout=30"
        providerName="system.data.sqlclient" />-->



      <!--JH FILE PATH-->
      <!--<add name="UserDB"
           connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=C:\Users\jovia\Desktop\Y2\Sem2\IoT Project\ProjectFailure\Hardware\Forms1\UserDB.mdf;Integrated Security=True;Connect Timeout=30"
          providerName="System.Data.SqlClient" />-->



      <!--TT FILE PATH-->
      <add name="UserDB"
           connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=C:\Users\trist\Source\Repos\MeowJacky\ProjectFailure\Hardware\Forms1\UserDB.mdf;Integrated Security=True;Connect Timeout=30"
          providerName="System.Data.SqlClient" />
      
    </connectionStrings> 
      <!--PROB HAVE TO CHANGE ACCORDING TO YOUR FILE LOCATION-->
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />


    </startup>
</configuration>