<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>


      <!--HL FILE PATH--><!--
      <add name="UserDB"
         connectionString="data source=(localdb)\mssqllocaldb; attachdbfilename=c:\users\paxto\onedrive\documents\2023 yr 2\sem 2\it2666 iot proj\projectfailure\hardware\forms1\userdb.mdf;integrated security=true;connect timeout=30"
        providerName="system.data.sqlclient" />-->


      <!--YS FILE PATH-->
      <add name="UserDB"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=C:\Users\yongs\Source\Repos\MeowJacky\ProjectFailure\Hardware\Forms1\UserDB.mdf;Integrated Security=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />



      <!--JH FILE PATH-->
      <!--<add name="UserDB"
           connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=C:\Users\jovia\Desktop\Y2\Sem2\IoT Project\ProjectFailure\Hardware\Forms1\UserDB.mdf;Integrated Security=True;Connect Timeout=30"
          providerName="System.Data.SqlClient" />-->



      <!--TT FILE PATH-->
      <add name="UserDB"
           connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=C:\Users\trist\Source\Repos\MeowJacky\ProjectFailure\Hardware\Forms1\UserDB.mdf;Integrated Security=True;Connect Timeout=30"
          providerName="System.Data.SqlClient" />
      
    </connectionStrings> 
      <!--PROB HAVE TO CHANGE ACCORDING TO YOUR FILE LOCATION-->
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />


    </startup>
</configuration>